.header {
    height: 240px;
    padding-top: 30px;
    background: linear-gradient(109.55deg, #278AFC 3.34%, #17AAD9 102.72%);
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25);
    position: relative;
    text-align: center;
}
.bannerImage{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -120px;
}
.body{
    padding: 110px 30px 30px 30px;
}
.loginBackground{
    background: linear-gradient(109.55deg, #278AFC 3.34%, #17AAD9 102.72%);
    height: 100vh;
    text-align: center;
    padding: 30px;
}